/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */

/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/

html {
  color: #000;
  background: #FFF;
}

/*
  TODO remove settings on BODY since we can't namespace it.
*/

/*
  TODO test putting a class on HEAD.
      - Fails on FF.
*/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
  TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: "";
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/

input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */

legend {
  color: #000;
}

/* YUI CSS Detection Stamp */

#yui3-css-stamp.cssreset {
  display: none;
}

* {
  box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  letter-spacing: 2px;
}

html,
body {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: steelblue;
}

h1,
h2,
h3,
h4,
p,
label {
  color: #333;
}

.container {
  width: 100%;
  min-height: calc(100% - 120px);
  background-color: white;
}

.top-wrapper {
  width: 100%;
  height: 320px;
  background-color: darkgray;
}

.main-contents {
  max-width: 960px;
  margin: 0 auto;
  background-color: whitesmoke;
}

.main-contents__box {
  width: 100%;
  padding: 10px;
}

.content {
  background-color: white;
  width: 100%;
  min-height: 480px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.sample {
  color: #49578b;
}

.header {
  height: 60px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
  position: relative;
  z-index: 16;
}

.header__box {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}

.header__box__left {
  width: 50%;
  padding: 10px 20px;
  float: left;
}

.header__box__right {
  width: 50%;
  padding: 10px 20px;
  float: right;
  text-align: right;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  color: #49578b;
  line-height: 40px;
}

.header-link {
  font-size: 14px;
  color: #49578b;
  line-height: 40px;
  padding-left: 5px;
}

.navi-bar {
  width: 100%;
  height: 40px;
  background-color: #49578b;
  position: relative;
  z-index: 8;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;
}

.navi-bar__box {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
}

.navi-list {
  width: 100%;
  height: 100%;
}

.navi-list__content {
  width: 320px;
  height: 100%;
  display: inline-block;
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  cursor: pointer;
}

.navi-list__content__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  color: whitesmoke;
  border: 1px solid #49578b;
}

.navi-list__content__link:hover {
  background-color: steelblue;
  color: whitesmoke;
  border: 1px solid #98a1c2;
}

