
// *** 変数・mixin *** //


$darkpurple: rgb(73, 87, 139);
$lightpurple:  rgb(141, 153, 196);
$purpleback: rgb(190, 200, 220);

$default-border: 1px solid $lightpurple;
$default-back: #f0f0ef;
$default-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px;

$gray-back: #dfdfdf;


// *** 共通設定 *** //

*{
  box-sizing: border-box;
  font-family: "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  letter-spacing: 2px;
}

html, body{
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  color: steelblue;
}

h1, h2, h3, h4, p, label{
  color: #333;
}

.container{
    width: 100%;
    min-height: calc(100% - 200px);
    // 120 = header + footer
    background-color: white;
}

.top-wrapper{
    width: 100%;
    height: 320px;
    background-color: darkgray;
}

.main-contents{
    max-width: 960px;
    margin: 0 auto;
    background-color: whitesmoke;
    &__box{
        width: 100%;
        padding: 10px;
    }
}

.content{
    min-height: 960px;
    width: 100%;
    background-color: white;
    box-shadow: $default-shadow;
}
