.search-wrapper{
    width: 100%;
    padding: 40px 0;
}

.search-wrapper-single{
    width: 100%;
    padding: 10px;
}

.search-contents{
    width: 100%;
    background-color: white;
    border: 1px solid $lightpurple;
    &__box{
        padding: 9px;
        &__head{
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            padding: 10px 0;
            border-bottom: 1px solid $lightpurple;
        }
        &__content{
            padding: 10px;
        }
    }
}

.search-message{
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

.search-ways{
    padding-bottom: 10px;
}

.search-way{
    padding: 10px 0;
    text-align: center;
    &__link{
        display: inline-block;
        padding: 8px 16px;
        background-color: $lightpurple;
        border: 1px solid $darkpurple;
        color: whitesmoke;
        font-size: 14px;
    }
    &__link:hover{
        background-color: steelblue;
        color: whitesmoke;
    }
}

.search-form{
    width: 300px;
    padding: 24px 0;
    margin: 0 auto;
    &__input{
        width: calc(100% - 80px);
        padding: 8px 12px;
        font-size: 14px;
    }
    &__submit{
        padding: 8px 16px;
        background-color: $lightpurple;
        border: 1px solid $darkpurple;
        color: whitesmoke;
        font-size: 14px;
        -webkit-appearance: none;
    }
    &__submit:hover{
        background-color: steelblue;
        color: white;
    }
}

.search-result{
    padding: 20px 0;
    &__message{
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
    }
}

.category-field{
    padding: 10px 0;
    &__label{
        display: inline-block;
        width: 80px;
        font-size: 14px;
        font-weight: bold;
        color: $darkpurple;
    }
    &__select{
        display: inline-block;
        width: calc(100% - 90px);
        background-color: whitesmoke;
        font-size: 14px;
        padding: 8px 16px;
        border: 1px solid $darkpurple;
        border-radius: 4px;
    }
}

.search-head-small{
    font-size: 14px;
}