.search-wrapper{
    width: 100%;
    padding: 40px 0;
}

.search-contents{
    width: 100%;
    background-color: white;
    border: 1px solid $lightpurple;
    &__box{
        padding: 9px;
        &__head{
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            padding: 10px 0;
            border-bottom: 1px solid $lightpurple;
        }
        &__content{
            padding: 10px;
        }
    }
}

.search-message{
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
}

.search-ways{
    padding-bottom: 10px;
}

.search-way{
    padding: 10px 0;
    text-align: center;
    &__link{
        display: inline-block;
        padding: 8px 16px;
        background-color: $lightpurple;
        border: 1px solid $darkpurple;
        color: whitesmoke;
        font-size: 14px;
    }
    &__link:hover{
        background-color: steelblue;
        color: whitesmoke;
    }
}